openapi: 3.2.0
info:
  title: Automations File Service Files API
  description: '# Introduction


    The Automations File Service API exposes a secured and isolated file store for you to manage files intended for a Qualtrics Automation.'
  contact:
    name: Contact Qualtrics Support for more information.
  version: 1.0.0
servers:
- url: https://datacenterId.qualtrics.com/automations-file-service
security:
- API Token: []
tags:
- name: Files
paths:
  /automations/{automationId}/files:
    get:
      tags:
      - Files
      summary: Get Automation's Files
      description: Get all the files for Automation which are neither archived or currently being processed.
      operationId: getFiles
      parameters:
      - $ref: '#/components/parameters/automationIdPath'
      - $ref: '#/components/parameters/tag'
      responses:
        '200':
          description: Files List
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    $ref: file.yaml#/definitions/files
                  meta:
                    $ref: '#/components/schemas/meta'
            text/plain; charset=utf-8:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    $ref: file.yaml#/definitions/files
                  meta:
                    $ref: '#/components/schemas/meta'
components:
  parameters:
    automationIdPath:
      name: automationId
      in: path
      description: 'Id of the associated automation.


        **Example**: `AU_123456789012345`

        '
      required: true
      schema:
        type: string
    tag:
      name: tag
      in: query
      required: false
      description: '* If not provided, the files that have not yet been processed by the automation will be returned.

        * If equal to `processing`, the files that are currently being processed by the automation will be returned.

        * If equal to `archived`, the files that have been processed and archived by the automation will be returned.

        '
      schema:
        type: string
  schemas:
    meta:
      example:
        httpStatus: 200 - OK
      type: object
      required:
      - httpStatus
      - requestId
      properties:
        httpStatus:
          type: string
          description: 'Always of the format `{X} - {Y}`,

            where `{X}` is the associated HTTP status code,

            and `{Y}` is a human readable explanation of the status code.

            '
        error:
          type: object
          description: Only given if an error occurred during the request.
          required:
          - errorMessage
          - errorCode
          properties:
            errorMessage:
              type: string
              description: A human readable explanation of the error.
            errorCode:
              type: string
              description: An identifying code associated with the error.
        requestId:
          type: string
          description: A transaction id associated with the request.
  securitySchemes:
    API_Token:
      type: apiKey
      in: header
      name: X-API-TOKEN
