openapi: 3.2.0
info:
  title: File Service Automations API
  description: '# Introduction


    The Automations File Service API exposes a secured and isolated file store for you to manage files intended for a Qualtrics Automation.'
  contact:
    name: Contact Qualtrics Support for more information.
  version: 1.0.0
servers:
- url: https://datacenterId.qualtrics.com/automations-file-service
security:
- API Token: []
tags:
- name: Automations
paths:
  /automations:
    get:
      tags:
      - Automations
      summary: List Automations
      description: Get all automations' directory information.
      operationId: getAutomations
      parameters:
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Automations List
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    $ref: directory.yaml#/definitions/directories
                  meta:
                    $ref: '#/components/schemas/meta'
            text/plain; charset=utf-8:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    $ref: directory.yaml#/definitions/directories
                  meta:
                    $ref: '#/components/schemas/meta'
components:
  schemas:
    meta:
      example:
        httpStatus: 200 - OK
      type: object
      required:
      - httpStatus
      - requestId
      properties:
        httpStatus:
          type: string
          description: 'Always of the format `{X} - {Y}`,

            where `{X}` is the associated HTTP status code,

            and `{Y}` is a human readable explanation of the status code.

            '
        error:
          type: object
          description: Only given if an error occurred during the request.
          required:
          - errorMessage
          - errorCode
          properties:
            errorMessage:
              type: string
              description: A human readable explanation of the error.
            errorCode:
              type: string
              description: An identifying code associated with the error.
        requestId:
          type: string
          description: A transaction id associated with the request.
  parameters:
    offset:
      name: offset
      in: query
      required: false
      description: 'The starting offset for the returned records. The default offset is 0.

        '
      schema:
        type: integer
        format: int32
        minimum: 0
  securitySchemes:
    API_Token:
      type: apiKey
      in: header
      name: X-API-TOKEN
