openapi: 3.2.0
info:
  title: Automations Service File API
  description: '# Introduction


    The Automations File Service API exposes a secured and isolated file store for you to manage files intended for a Qualtrics Automation.'
  contact:
    name: Contact Qualtrics Support for more information.
  version: 1.0.0
servers:
- url: https://datacenterId.qualtrics.com/automations-file-service
security:
- API Token: []
tags:
- name: File
paths:
  /automations/{automationId}/files:
    post:
      tags:
      - File
      summary: Upload a File
      description: Upload a file for the automation to consume.
      operationId: createFile
      parameters:
      - $ref: '#/components/parameters/automationIdPath'
      responses:
        '200':
          description: File Id
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    type: object
                    required:
                    - id
                    properties:
                      id:
                        $ref: '#/components/schemas/fileId'
                  meta:
                    $ref: '#/components/schemas/metawarn'
            text/plain; charset=utf-8:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    type: object
                    required:
                    - id
                    properties:
                      id:
                        $ref: '#/components/schemas/fileId'
                  meta:
                    $ref: '#/components/schemas/metawarn'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: The file to upload.
                  format: binary
  /automations/{automationId}/files/{fileId}:
    get:
      tags:
      - File
      summary: Get File Metadata
      description: Get the file's metadata.
      operationId: getFile
      parameters:
      - $ref: '#/components/parameters/automationIdPath'
      - $ref: '#/components/parameters/fileIdPath'
      responses:
        '200':
          description: File Metadata
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    $ref: file.yaml#/definitions/file
                  meta:
                    $ref: '#/components/schemas/meta'
            text/plain; charset=utf-8:
              schema:
                type: object
                required:
                - result
                - meta
                properties:
                  result:
                    $ref: file.yaml#/definitions/file
                  meta:
                    $ref: '#/components/schemas/meta'
    delete:
      tags:
      - File
      summary: Delete File
      description: Deletes the file.
      operationId: deleteFile
      parameters:
      - $ref: '#/components/parameters/automationIdPath'
      - $ref: '#/components/parameters/fileIdPath'
      responses:
        '200':
          $ref: '#/components/responses/success'
  /automations/{automationId}/files/{fileId}/content:
    get:
      tags:
      - File
      summary: Get File Content
      description: Download the file's content.
      operationId: getFileContent
      parameters:
      - $ref: '#/components/parameters/automationIdPath'
      - $ref: '#/components/parameters/fileIdPath'
      responses:
        '200':
          description: File Content
          content:
            text/plain; charset=utf-8:
              schema:
                type: string
                format: binary
components:
  responses:
    success:
      description: Success
      content:
        application/json:
          schema:
            type: object
            required:
            - meta
            properties:
              meta:
                $ref: '#/components/schemas/meta'
        text/plain; charset=utf-8:
          schema:
            type: object
            required:
            - meta
            properties:
              meta:
                $ref: '#/components/schemas/meta'
  schemas:
    meta:
      example:
        httpStatus: 200 - OK
      type: object
      required:
      - httpStatus
      - requestId
      properties:
        httpStatus:
          type: string
          description: 'Always of the format `{X} - {Y}`,

            where `{X}` is the associated HTTP status code,

            and `{Y}` is a human readable explanation of the status code.

            '
        error:
          type: object
          description: Only given if an error occurred during the request.
          required:
          - errorMessage
          - errorCode
          properties:
            errorMessage:
              type: string
              description: A human readable explanation of the error.
            errorCode:
              type: string
              description: An identifying code associated with the error.
        requestId:
          type: string
          description: A transaction id associated with the request.
    fileId:
      example: AFL_123456789012345
      type: string
      description: 'The file''s unique Id.


        Since multiple files may share the same name, the id is used to identify a particular file.


        Multiple files may share the same name if

        * They have different tags; e.g. one file has no tags, one file is tagged for processing, one file is tagged as archived.

        * They have different processed or archived date/times.


        **Example**: `AFL_123456789012345`

        '
    metawarn:
      example:
        httpStatus: 200 - OK
      type: object
      required:
      - httpStatus
      - requestId
      properties:
        httpStatus:
          type: string
          description: 'Always of the format `{X} - {Y}`,

            where `{X}` is the associated HTTP status code,

            and `{Y}` is a human readable explanation of the status code.

            '
        error:
          type: object
          description: Only given if an error occurred during the request.
          required:
          - errorMessage
          - errorCode
          properties:
            errorMessage:
              type: string
              description: A human readable explanation of the error.
            errorCode:
              type: string
              description: An identifying code associated with the error.
        requestId:
          type: string
          description: A transaction id associated with the request.
        warning:
          type: object
          description: 'Only given if a warning occurred during the request,

            such as an upload of an existing file name overwriting that file''s content.

            '
          required:
          - warningMessage
          - warningCode
          properties:
            warningMessage:
              type: string
              description: A human readable explanation of the warning.
            warningCode:
              type: string
              description: An identifying code associated with the warning.
  parameters:
    fileIdPath:
      name: fileId
      in: path
      description: 'Id of the associated file.


        **Example**: `AFL_123456789012345`

        '
      required: true
      schema:
        type: string
    automationIdPath:
      name: automationId
      in: path
      description: 'Id of the associated automation.


        **Example**: `AU_123456789012345`

        '
      required: true
      schema:
        type: string
  securitySchemes:
    API_Token:
      type: apiKey
      in: header
      name: X-API-TOKEN
